:host {
  overflow-y: hidden;
  overflow-x: hidden;
}

.map {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
  z-index: 0;
  padding: 0;
  width: 100%;
  height: 95%;
  border: gray 5px;
  border-radius: 1rem;
}

.col-map {
  margin: 1rem 0rem 1rem 1rem;
  width: 80vw;
  padding-right:0;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.col-table {
  padding-left:1rem;
}

.row {
  width: 117%;
  flex: 0 1 auto;
  min-height: 90%
}

.navbar-brand {
  padding-left: 1rem;
}

