
.map {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  z-index: 0;
  padding: 0;
  width: 100%;
  height: 95%;
  border: gray ridge 5px;
}

.col-map {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.col-table {
  padding-left:1rem;
}

.row {
  width: 100%;
  flex: 0 1 auto;
  min-height: 90%
}

.navbar-brand {
  padding-left: 1rem;
}

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  height: 4rem;
  z-index: 1;
  flex: 0 1 auto;
  position: relative;
}

td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:hover {
  text-overflow: unset;
  overflow: unset;
  white-space: normal;
}

.col-id {
  width: 30%;
}

.col-marker {
  width: 70%;
}

table {
  width: 22vw;
  border-top: 1rem solid transparent;
  border-left: 3rem solid transparent;
}
