<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/svg/map-svgrepo-com.svg" class="d-inline-block align-top" width="30" height="30" alt="">
    Project X
  </a>
</nav>
<div class="row">
  <div class="col-3 col-table">
    <table class="table table-sm">
      <thead>
      <tr>
        <th class="col-id">User Id</th>
        <th scope="col">Lat</th>
        <th scope="col">Long</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ user.userId }}</td>
        <td>{{ user.lat }}</td>
        <td>{{ user.long }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-9 col-map">
    <div class="map"
         leaflet
         [leafletOptions]="mapOptions"
         (leafletMapReady)="onMapReady($event)">
    </div>
  </div>
</div>
